auto_update_conda: False
channels:
  - rapidsai
  - rapidsai-nightly
  - dask/label/dev
  - pytorch
  - conda-forge
  - nvidia
conda-build:
  set_build_id: false
  root_dir: $RAPIDS_CONDA_BLD_ROOT_DIR
  output_folder: $RAPIDS_CONDA_BLD_OUTPUT_DIR
number_channel_notices: 0
