# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
auto_update_conda: False
channels:
  - rapidsai
  - rapidsai-nightly
  - conda-forge
channel_priority: strict
conda-build:
  pkg_format: '2'
  set_build_id: false
  root_dir: $RAPIDS_CONDA_BLD_ROOT_DIR
  output_folder: $RAPIDS_CONDA_BLD_OUTPUT_DIR
number_channel_notices: 0
always_yes: true

# threads to use when downloading and reading repodata
repodata_threads: 1

# threads to use when downloading packages
fetch_threads: 1

# default for all other multi-threaded operations
default_threads: 1
