auto_update_conda: False
channels:
  - conda-forge
  - dask/label/dev
  - nvidia
  - pytorch
  - rapidsai
  - rapidsai-nightly
conda-build:
  set_build_id: false
  root_dir: $RAPIDS_CONDA_BLD_ROOT_DIR
  output_folder: $RAPIDS_CONDA_BLD_OUTPUT_DIR
