name: build and publish imgs workflow

on:
  workflow_call:
    inputs:
      push:
        required: true
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  compute-matrix:
    runs-on: ubuntu-latest
    outputs:
      LATEST_LINUX_VER: ${{ steps.latest-values.outputs.LATEST_LINUX_VER }}
      LATEST_CUDA_VER: ${{ steps.latest-values.outputs.LATEST_CUDA_VER }}
      LATEST_PYTHON_VER: ${{ steps.latest-values.outputs.LATEST_PYTHON_VER }}
      MATRIX: ${{ steps.compute-matrix.outputs.MATRIX }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Compute latest values
        id: latest-values
        run: ./ci/compute-latest-versions.sh
      - name: Compute matrix
        id: compute-matrix
        run: ./ci/compute-matrix.sh
  docker:
    needs: compute-matrix
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_USERNAME: ${{ secrets.GPUCIBOT_DOCKERHUB_USER }}
      DOCKERHUB_TOKEN: ${{ secrets.GPUCIBOT_DOCKERHUB_TOKEN }}
    strategy:
      matrix: ${{ fromJSON(needs.compute-matrix.outputs.MATRIX) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - if: ${{ env.DOCKERHUB_USERNAME != '' && env.DOCKERHUB_TOKEN != '' }}
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}
      - name: Compute Tags
        id: compute-tags
        run: |
          set -x
          TAGS="rapidsai/ci:cuda${{ matrix.CUDA_VER }}-${{ matrix.LINUX_VER }}-py${{ matrix.PYTHON_VER }}"

          if [[
            "${{ needs.compute-matrix.outputs.LATEST_LINUX_VER }}" == "${{ matrix.LINUX_VER }}" &&
            "${{ needs.compute-matrix.outputs.LATEST_CUDA_VER }}" == "${{ matrix.CUDA_VER }}" &&
            "${{ needs.compute-matrix.outputs.LATEST_PYTHON_VER }}" == "${{ matrix.PYTHON_VER }}"
          ]]; then
            TAGS+=",rapidsai/ci:latest"
          fi
          echo "TAGS=${TAGS}" >> ${GITHUB_OUTPUT}
      - name: Compute Platforms
        id: compute-platforms
        run: ./ci/compute-arch.sh
        env:
          CUDA_VER: ${{ matrix.CUDA_VER }}
          LINUX_VER: ${{ matrix.LINUX_VER }}
      - name: Build and push
        timeout-minutes: 30
        uses: docker/build-push-action@v3
        with:
          context: context
          file: Dockerfile
          platforms: ${{ steps.compute-platforms.outputs.PLATFORMS }}
          push: ${{ inputs.push }}
          pull: true
          build-args: |
            CUDA_VER=${{ matrix.CUDA_VER }}
            LINUX_VER=${{ matrix.LINUX_VER }}
            PYTHON_VER=${{ matrix.PYTHON_VER }}
          tags: ${{ steps.compute-tags.outputs.TAGS }}
