name: Build and push image variant

on:
  workflow_call:
    inputs:
      ARCHES:
        required: true
        type: string
      CUDA_VER:
        required: true
        type: string
      LINUX_VER:
        required: true
        type: string
      PYTHON_VER:
        required: true
        type: string
      IMAGE_REPO:
        required: true
        type: string
      IMAGE_NAME:
        required: true
        type: string

jobs:
  run:
    name: build (${{ matrix.CUDA_VER }}, ${{ matrix.PYTHON_VER }}, ${{ matrix.LINUX_VER }}, ${{ matrix.ARCH }})
    strategy:
      matrix:
        ARCH: ${{ fromJSON(inputs.ARCHES) }}
        CUDA_VER: ["${{ inputs.CUDA_VER }}"]
        LINUX_VER: ["${{ inputs.LINUX_VER }}"]
        PYTHON_VER: ["${{ inputs.PYTHON_VER }}"]
      fail-fast: false
    runs-on: linux-${{ matrix.ARCH }}-cpu4
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.GPUCIBOT_DOCKERHUB_USER }}
          password: ${{ secrets.GPUCIBOT_DOCKERHUB_TOKEN }}
      - name: Set up Docker Context for Buildx
        run: |
          docker context create builders
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker
          endpoint: builders
      - name: Generate Build Args
        id: generate-build-args
        run: ci/compute-build-args.sh
        env:
          CUDA_VER: ${{ inputs.CUDA_VER }}
          LINUX_VER: ${{ inputs.LINUX_VER }}
          PYTHON_VER: ${{ inputs.PYTHON_VER }}
          ARCH: ${{ matrix.ARCH }}
          DOCKERFILE: ${{ inputs.IMAGE_REPO }}.Dockerfile
      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: context
          file: ${{ inputs.IMAGE_REPO }}.Dockerfile
          push: true
          pull: true
          build-args: |
            ${{ steps.generate-build-args.outputs.ARGS }}
          tags: ${{ inputs.IMAGE_NAME }}-${{ matrix.ARCH }}
