# Copyright (c) 2023-2025, NVIDIA CORPORATION.
name: ci

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-images:
    uses: ./.github/workflows/build-and-publish-images.yaml
    with:
      build_type: pull-request
    secrets: inherit
