# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: publish
run-name: "publish${{ (inputs.upstream_repository != '') && format(' - triggered by: {0}', inputs.upstream_repository) || '' }}"

on:
  workflow_dispatch:
    inputs:
      upstream_repository:
        required: false
        type: string
      upstream_job:
        required: false
        type: string
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-images:
    uses: ./.github/workflows/build-and-publish-images.yaml
    with:
      build_type: branch
    secrets: inherit
